.greetings {


    
}

.bg{
    background: var(--light-primary);
    padding: 32px;
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 28px;
    box-shadow: -2px -2px 4px rgba(163, 163, 163, 0.15), 2px 2px 5px rgba(163, 163, 163, 0.15);
}

.wrapper {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 32px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content span {
    margin-top: 16px;
}
