.btn {
    height: 60px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #4e5a62;
    background: none;
    border: 1px solid var(--white);
    cursor: pointer;
}

.active,
.btn:hover {
    color: #f2f2f2;
    background: #48887b;
    border: 1px solid #48887b;
}
