.greetings {
    background: var(--light-primary);
    width: 100%;
    height: 600px;
    display: flex;
    justify-content:center;

}

.titleBlock {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 40px;
    align-items:center
}

.content span {
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    align-items:center;

    color: #2f2f51;
}
