.descBlock {
    width: 100%;
    height: 388px;

    background: #48887b;
    border-radius: 16px;

    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    margin-top: 20px;
}

.title {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;

    color: var(--white);
}

.description {
    color: var(--gray);

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}

.a {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;



    color: var(--white) !important;
}
