.card {
    width: 300px;
    height: 382px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start
}

.blockImg{
    width: 100%;
    height: 300px;
    background: var(--birch);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-end
}

.title {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;

    color: #18191f;
}

.description {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #18191f;
}
