.nextArrow{
    bottom: -4px;
    right: 40%;
    position: absolute;
    cursor: pointer;
}

.slider{
    margin-bottom: 40px;
}

.prevArrow{
    bottom: -4px;
    left: 40%;
    position: absolute;
    cursor: pointer;
}

.bottomBlock{
    width: 100%;
    height: auto;
    margin-top: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

