.card {
    width: 248px;
    height: 325px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    filter: drop-shadow(0px 4px 8px rgba(190, 190, 190, 0.4));

    background: #ffffff;
    /* Gray 4 */

    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 8px;

    
}

.card:parent(div) {
    width: 248px !important;
 }

.content{
    width: 100%;
    height: 100%;
    padding: 8px 16px 16px 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.blockImg {
    width: 100%;
    min-height: 153px;

    border-radius: 8px 8px 0px 0px;
    background-repeat: no-repeat;
}

.date {
    color: var(--light-gray);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;

    color: var(--black);
}

.description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: var(--black);
}

.card a {
    font-style: normal;
    color: var(--black);
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
}
