.footer {
    background: var(--light-primary);
    padding-top: 100px;
    margin-top: 280px;
}

.wrapper {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: normal;
}

.logo {
    display: block;
}

.aboutBlock {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 24px;
}

.icons svg {
    margin-right: 16px;
}

.text {
    font-size: 14px;
    line-height: 24px;
    color: var(--black-gray)
}

.blockLinks{
    display: grid;
}
.title{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    color: #18191F;
    margin-bottom: 24px;
}



.blockLinks a{
    font-size: 14px;
    line-height: 24px;

    color: #595F5D;
    margin-bottom: 12px;
}
.blockLinksCenter{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
}

.blockLinksCenter a{
        font-size: 14px;
    line-height: 24px;
    color: #595F5D;
    margin-bottom: 12px;
}

.contactBlock{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.contactBlock svg{
       margin-right: 10px;
}

.footerBottom{
    margin-top: 100px;
    padding-bottom: 26px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
}

.footerBottom:first-child{
    display:flex;
    justify-content: flex-start;
}
.rightBlock{
    display: flex;
    justify-content: flex-end;

    font-size: 14px;
    line-height: 24px;


    color: #595F5D;
}

