.item{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item svg {
    margin-right: 15px;
}

.changelanguage{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.changelanguage:hover {
    cursor: pointer;
}

.changelanguage span{
    margin: 0px 8px 0px 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #18191F;
}

