.h1{
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;

    color: #4E5A62;
    
}
.h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;

    color: var(--gray);
    margin: 0;
}
.h3{
    font-weight: 600;
    font-size: 16px;
    line-height: 21,86px;

    color: var(--gray);
    margin: 0;
}