.header{
    width: 100%;
    height: 72px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    box-shadow: 0px 1px 0px #E5E9F2;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;


}

.links a, .links svg{
    margin-right: 32px;
        font-size: 14px;
    line-height: 20px;
font-weight: bold;
    color: #4E5A62;
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.btnSearch{
    width: 40px;
    height: 40px;
    left: 1235px;
    top: 16px;

    background: #48887B;
    border-radius: 2px;
}

.inputSearch{
    margin: 0px 25px 0px 35px;
}