.btn {
    width: 160px;
    height: 50px;
    cursor:pointer;

    border: 1px solid #32495e;
    box-sizing: border-box;
    border-radius: 25px;

    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    background: none;

    color: var(--black);
}
