.sidebar{
    border-right:2px solid #D6D6D6;
    width: 280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.line{
    height: 2px;
    background: #E5E5E5;
    width: 80%;
    margin-top: 50px;
}