html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root{
  --black: rgba(50, 73, 94, 1);
  --birch:rgba(34, 167, 120, 1);
  --primary:rgba(72, 136, 123, 1);
  --white: rgba(255, 255, 255, 1);
  --gray:rgba(241, 242, 246, 1);
  --light-gray: #A3A3A3;
  --black-gray: rgba(89, 95, 93, 1);
  --light-primary:rgba(231, 246, 241, 1);

 

}

.slick-track{
  width: 100%;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}



.button__bar {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  padding: 0;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 40px;
  width: auto;
  text-align: center;
  margin-top: 35px;
}

.button__bar li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 3px;
  padding: 0;
}

.button__bar li button {
  border: none;
  background: none;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 15px;
  width: 15px;
  border: 2px solid #22A778;
  border-radius: 7.5px;
}

.button__bar li.slick-active button {
  background-color: #22A778;
}

.button__bar li button:hover,
.button__bar li button:focus {
  background: #22A778;
  outline: 0;
}


